
// Colors
// ------------------------------------------------------------------
$color_background:		#E7E6E0;
$color_body:			#2B2B29;
$color_border:			#D4D3C9;
$color_copyright:		#979795;
$color_facebook:		#3B5999;
$color_footer:			#6B6B69;
$color_footer_links:	#0E0E0D;
$color_gray:			#666666;
$color_link:			#0D6BD8;
$color_twitter:			#50ACEF;
$color_video_list:		#D4D3C9;
$color_unsubscribe:		#6B6B69;
$color_yellow:			#FECC09;


// Fonts
// ------------------------------------------------------------------
$font_base:				Helvetica, Arial, sans-serif;


// Numbers
// ------------------------------------------------------------------
$border_radius:			4px;