
// Colors
// ------------------------------------------------------------------
$color_background:		#CAC9C4;
$color_body:			#2B2B29;
$color_border:			#CCCCCC;
$color_copyright:		#979795;
$color_facebook:		#3B5999;
$color_footer:			#6B6B69;
$color_footer_links:	#0E0E0D;
$color_gray:			#666666;
$color_link:			#0D6BD8;
$color_twitter:			#50ACEF;
$color_unsubscribe:		#6B6B69;


// Fonts
// ------------------------------------------------------------------
$font_base:				"Helvetica Neue", Helvetica, Arial, sans-serif;


// Numbers
// ------------------------------------------------------------------
$border_radius:			4px;