<!--[[U1:myfrid=[[S48:1790:fr-id]][[S48:1780:fr-id]][[S48:1771:fr-id]][[S48:1800:fr-id]][[S48:1650:fr-id]][[S48:1760:fr-id]][[S48:1781:fr-id]][[S48:1740:fr-id]][[S48:1440:fr-id]][[S48:1782:fr-id]][[S48:1690:fr-id]][[S48:1700:fr-id]][[S48:1730:fr-id]][[S48:1850:fr-id]][[S48:1830:fr-id]][[S48:1860:fr-id]][[S48:1120:fr-id]][[S48:1720:fr-id]][[S48:1660:fr-id]][[S48:1750:fr-id]]]] -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>2014 TLS Fundraising Report</title>
    <!-- SUBJECT: 2014 TLS Fundraising Report -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>

    <!-- BODY TABLE -->
    <table id="bodyTable" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tr>
            <td>

                <!-- CONTAINER TABLE -->
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content">

                            <!-- CONTENT TABLE -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <a href="http://www.livestrong.org/?utm_source=[[S80:myfrid]]-fundraising-update&amp;utm_medium=email&amp;utm_campaign=welcome-series">
                                            <img class="resp-img" style="border: 0 none; height: auto; line-height: 100%; outline: none; text-decoration: none;" src="http://images.livestrong.org/fundraising-update/TLS-Fundraising-Email-header.jpg" border="0" alt="Foundation" hspace="0" vspace="0" width="600" align="top" />
                                        </a>
                                    </td>
                                </tr>

                                <!-- CONVIO PLACEHOLDER TEXT -->
                                <tr>
                                    <td class="convio">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <convio:session name="63" param="2"></convio:session>
                                        </table>
                                    </td>
                                </tr>
                                <!-- /CONVIO PLACEHOLDER TEXT -->

                                <!-- COPY THIS OUT -->
                                
                                <!-- FUNDRAISING REPORT -->
                                <tr>
                                    <td class="fundraising-container">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td class="fundraising-report-title">[[?x[[S1:first_name]]::xx::Your::[[S1:first_name]]'s]] Fundraising Report for [[?xx[[S80:myfrid]]xx::xx1700xx::Austin Challenge::[[?xx[[S80:myfrid]]xx::xx1780xx::Chicago Marathon::[[?xx[[S80:myfrid]]xx::xx1781xx::Marine Corps Marathon::[[?xx[[S80:myfrid]]xx::xx1782xx::NYC Marathon::[[?xx[[S80:myfrid]]xx::xx1830xx::Survivor Summit::[[?xx[[S80:myfrid]]xx::xx1850xx::Austin Marathon & Half Marathon::Cant Match myfrid to Event Name]]]]]]]]]]]]</td>
                                            </tr>
                                            <tr>
                                                <td class="fundraising-stats-table" align="center">

                                                    <!-- DESKTOP -->
                                                    <div class="phone-hidden">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td class="fundraising-stats">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td class="fundraising-stats-title">Days to Event</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="fundraising-stats-stat">[[?x[[E42:[[S80:myfrid]]:days-to-event]]x::xx::100::[[E42:[[S80:myfrid]]:days-to-event]]]]</td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td class="fundraising-stats-spacer">&nbsp;</td>
                                                                <td class="fundraising-stats">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td class="fundraising-stats-title">Fundraising Total</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="fundraising-stats-stat total">[[?x[[E48:[[S80:myfrid]]:dollars-all]]x::xx::$0.00::[[E48:[[S80:myfrid]]:dollars-all]]]]</td>
                                                                        </tr>
                                                                    </table>                                                                
                                                                </td>
                                                                <td class="fundraising-stats-spacer">&nbsp;</td>
                                                                <td class="fundraising-stats">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td class="fundraising-stats-title">No. of Donations</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="fundraising-stats-stat">[[?x[[E48:[[S80:myfrid]]:donations]]x::xx::0::[[E48:[[S80:myfrid]]:donations]]]]</td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <!-- /DESKTOP -->

                                                    <!-- PHONE -->
                                                    <!--[if !mso]>
                                                    <div class="desktop-hidden">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td>
                                                                    <table class="fundraising-stats" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td class="fundraising-stats-title">Days to Event</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="fundraising-stats-stat">[[?x[[E42:[[S80:myfrid]]:days-to-event]]x::xx::100::[[E42:[[S80:myfrid]]:days-to-event]]]]</td>
                                                                        </tr>
                                                                    </table>
                                                                    <br>
                                                                    <table class="fundraising-stats" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td class="fundraising-stats-title">Fundraising Total</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="fundraising-stats-stat">[[?x[[E48:[[S80:myfrid]]:dollars-all]]x::xx::$0.00::[[E48:[[S80:myfrid]]:dollars-all]]]]</td>
                                                                        </tr>
                                                                    </table>
                                                                    <br>
                                                                    <table class="fundraising-stats" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td class="fundraising-stats-title">No. of Donations</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="fundraising-stats-stat">[[?x[[E48:[[S80:myfrid]]:donations]]x::xx::0::[[E48:[[S80:myfrid]]:donations]]]]</td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <![endif]-->
                                                    <!-- /PHONE -->

                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="alert">
                                                    [[?[[E48:[[S80:myfrid]]:if-percent-gt:100]]::TRU:: 
                                                    <table class="success" align="center" border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="img">
                                                                <img src="http://images.livestrong.org/fundraising-update/thumbsup.jpg" height="41" width="41">
                                                            </td>
                                                            <td>
                                                                You’ve met your fundraising minimum! We’ve got some <a href="http://www.livestrong.org/events/[[S80:myfrid]]/incentives/?donottrack=true&amp;utm_source=[[S80:myfrid]]-fundraising-update&amp;utm_medium=email&amp;utm_campaign=welcome-series">awesome incentives</a> for supporters just like you.
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    ::
                                                    <table class="error" align="center" border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="img">
                                                                <img src="http://images.livestrong.org/fundraising-update/thumbsdown.jpg" height="41" width="41">
                                                            </td>
                                                            <td>
                                                            You only have [[?x[[E42:[[S80:myfrid]]:days-to-event]]x::xx::100::[[E42:[[S80:myfrid]]:days-to-event]]]] days left until your event! Make sure you reach your fundraising minimum of [[E48:[[S80:myfrid]]:goal:no-param]]! <a href="http://www.teamlivestrong.org/f/[[S80:myfrid]]/[[S1:cons_id]]?donottrack=true&amp;utm_source=[[S80:myfrid]]-fundraising-update&amp;utm_medium=email&amp;utm_campaign=welcome-series">Visit your fundraising center now.</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    ]]
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- /FUNDRAISING REPORT -->

                                <!-- PAGE BUILDER CONTENT -->
                                <tr>
                                    <td class="fundraising-container border-top">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td class="fundraising-tips-title">YOUR COACHES ARE HERE TO HELP!</td>
                                            </tr>
                                            <tr>
                                                <td class="fundraising-tips-text">
                                                    <p>
                                                        Be sure to connect with your fundraising coach to brainstorm opportunities for donations. Your coaches are always available to help you reach your goals. Don’t forget to connect on <a href="http://www.facebook.com/teamlivestrong">Facebook</a> or <a href="http://www.twitter.com/teamLIVESTRONG">Twitter</a> with your questions or concerns. Remember, we’re in the fight together!
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- /PAGE BUILDER CONTENT -->
                                
                                <!-- FUNDRAISING RESOURCES -->
                                <tr>
                                    <td class="fundraising-tips border-top">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td class="fundraising-tips-title">Team <span class="live">LIVE</span>STRONG Fundraising Resources</td>
                                            </tr>
                                            <tr>
                                                <td class="fundraising-tips-text">Our team has put together the following helpful tools and resources to ensure you meet and exceed your goals.</td>
                                            </tr>
                                            <tr>
                                                <td class="fundraising-tips-link"><a href="http://teamlivestrong.org/f/[[S80:myfrid]]/[[S1:cons_id]]?donottrack=true">Visit Your Fundraising Center</a></td>
                                            </tr>
                                            <tr>
                                                <td class="fundraising-tips-link"><a href="http://blog.livestrong.org/category/livestrong-events/fundraising-tips-livestrong-events?utm_source=[[S80:myfrid]]-fundraising-update&amp;utm_medium=email&amp;utm_campaign=welcome-series">Visit Our Blog for Helpful Fundraising Tips</a></td>
                                            </tr>
                                            <tr>
                                                <td class="fundraising-tips-link">
                                                    [[?xx[[S80:myfrid]]xx::xx1700xx::<a href="https://www.facebook.com/groups/588308801246476/">Join the Facebook Group for Your Event</a>::[[?xx[[S80:myfrid]]xx::xx1780xx::<a href="https://www.facebook.com/groups/246359288776412/">Join the Facebook Group for Your Event</a>::[[?xx[[S80:myfrid]]xx::xx1781xx::<a href="https://www.facebook.com/groups/182452155235375/">Join the Facebook Group for Your Event</a>::[[?xx[[S80:myfrid]]xx::xx1782xx::<a href="https://www.facebook.com/groups/232088680244788/">Join the Facebook Group for Your Event</a>::[[?xx[[S80:myfrid]]xx::xx1830xx::<a href="https://www.facebook.com/pages/Survivor-Summit/296319910385727/">Join the Facebook Group for Your Event</a>::[[?xx[[S80:myfrid]]xx::xx1850xx::<a href="https://www.facebook.com/groups/399029583478607/">Join the Facebook Group for Your Event</a>::Cant Match myfrid to Facebook URL]]]]]]]]]]]]
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- /FUNDRAISING RESOURCES -->

                                <!-- FOOTER SOCIAL CONTENT -->
                                <tr>
                                    <td class="connect">
                                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
                                            <tr>
                                                <td class="connect-headline">
                                                    Connect with <span class="live">Team LIVE</span>STRONG on Facebook and Twitter.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="share-buttons-container-small">
                                                    <table class="share-buttons-small" align="center" border="0" cellpadding="0" cellspacing="0" width="335">
                                                        <tr>
                                                            <td class="resp-td">
                                                                <table class="button facebook" align="center" border="0" cellpadding="0" cellspacing="0" width="157">
                                                                    <tr>
                                                                        <td class="small" align="center" valign="middle">
                                                                            <a href="https://www.facebook.com/teamlivestrong">
                                                                                <span class="color-white">
                                                                                    <span class="icon">
                                                                                        <img src="http://images.livestrong.org/share-graphics/facebook.png" width="20" height="19" alt="Like"/>
                                                                                    </span>
                                                                                    <span class="live">Team LIVE</span>STRONG
                                                                                </span>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td class="share-spacer">&nbsp;</td>
                                                            <td class="resp-td">
                                                                <table class="button twitter" align="center" border="0" cellpadding="0" cellspacing="0" width="157">
                                                                    <tr>
                                                                        <td class="small" align="center" valign="middle">
                                                                            <a href="https://twitter.com/TeamLIVESTRONG"><span class="icon"><img src="http://images.livestrong.org/share-graphics/twitter.png" width="20" height="19" alt="Follow"/></span>@<span class="live">TeamLIVE</span>STRONG</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- /FOOTER SOCIAL CONTENT -->

                                <!-- /COPY THIS OUT -->

                                <!-- FOOTER -->
                                <tr>
                                    <td class="footer">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td class="links">

                                                    <!-- DESKTOP -->
                                                    <div class="phone-hidden">
                                                        <table align="center" border="0" cellpadding="5" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td class="org" width="35%">
                                                                    <a href="http://www.livestrong.org/?utm_source=[[S80:myfrid]]-fundraising-update&amp;utm_medium=email&amp;utm_campaign=welcome-series">
                                                                        <span class="live">LIVE</span>STRONG.org
                                                                    </a>
                                                                </td>
                                                                <td class="footer-link">
                                                                    <a href="http://www.livestrong.org/Donate/?utm_source=[[S80:myfrid]]-fundraising-update&amp;utm_medium=email&amp;utm_campaign=welcome-series">Donate</a>
                                                                </td>
                                                                <td class="footer-link">
                                                                    <a href="http://www.livestrong.org/Shop/?utm_source=[[S80:myfrid]]-fundraising-update&amp;utm_medium=email&amp;utm_campaign=welcome-series">Shop</a>
                                                                </td>
                                                                <td class="footer-link">
                                                                    <a href="http://www.livestrong.org/events/?utm_source=[[S80:myfrid]]-fundraising-update&amp;utm_medium=email&amp;utm_campaign=welcome-series">Events</a>
                                                                </td>
                                                                <td class="footer-link">
                                                                    <a href="http://www.livestrong.org/we-can-help/?utm_source=[[S80:myfrid]]-fundraising-update&amp;utm_medium=email&amp;utm_campaign=welcome-series">We&nbsp;Can&nbsp;Help</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <!-- /DESKTOP -->

                                                    <!-- PHONE -->
                                                    <!--[if !mso]>
                                                    <div class="desktop-hidden">
                                                        <table align="center" border="0" cellpadding="5" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td class="org" width="35%">
                                                                    <a href="http://www.livestrong.org/?utm_source=[[S80:myfrid]]-fundraising-update&amp;utm_medium=email&amp;utm_campaign=welcome-series">
                                                                        <span class="live">LIVE</span>STRONG.org
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td class="footer-link">
                                                                                <a href="http://www.livestrong.org/Donate/?utm_source=[[S80:myfrid]]-fundraising-update&amp;utm_medium=email&amp;utm_campaign=welcome-series">Donate</a><br>
                                                                                <a href="http://www.livestrong.org/Shop/?utm_source=[[S80:myfrid]]-fundraising-update&amp;utm_medium=email&amp;utm_campaign=welcome-series">Shop</a>
                                                                            </td>
                                                                            <td class="footer-link">
                                                                                <a href="http://www.livestrong.org/events/?utm_source=[[S80:myfrid]]-fundraising-update&amp;utm_medium=email&amp;utm_campaign=welcome-series">Events</a><br>
                                                                                <a href="http://www.livestrong.org/we-can-help/?utm_source=[[S80:myfrid]]-fundraising-update&amp;utm_medium=email&amp;utm_campaign=welcome-series">We&nbsp;Can&nbsp;Help</a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <![endif]-->
                                                    <!-- /PHONE -->

                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="information">
                                                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td class="unsubscribe" align="center">
                                                                <a href="http://laf.convio.net/site/CO">Click here</a> to unsubscribe from receiving emails or change your preferences.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="copyright" align="center">
                                                                &copy;LIVE<strong>STRONG</strong>, a registered trademark of the LIVE<strong>STRONG</strong> Foundation.<br>
                                                                The LIVE<strong>STRONG</strong> Foundation is a 501(c)(3) under federal tax guidelines.</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- /FOOTER -->

                            </table>
                            <!-- /CONTENT TABLE -->

                        </td>
                    </tr>
                </table>
                <!-- /CONTAINER TABLE -->

            </td>
        </tr>
    </table>
    <!-- /BODY TABLE -->



</body>
</html>