<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>September Event Update</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>

    <!-- BODY TABLE -->
    <table id="bodyTable" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tr>
            <td>

                <!-- CONTAINER TABLE -->
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content padding-top">

                            <!-- CONTENT TABLE -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%">
                                            <tr>
                                                <td class="logo" valign="bottom">
                                                    <a href="http://www.livestrong.org/?utm_source=auto-responder&amp;utm_medium=email&amp;utm_campaign=welcome-series">
                                                        <img src="http://images.livestrong.org/welcome-emails/2014/livestrong-logo-top.png" alt="LIVESTRONG" border="0" height="28" width="200">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
                <!-- / CONTAINER TABLE -->

                <!-- BLACK STRIPE -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td class="stripe-black">

                            <!-- CONTAINER TABLE -->
                            <table align="center" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="content">

                                        <!-- CONTENT TABLE -->
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>
                                                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
                                                        <tr>
                                                            <td class="logo foundation header" valign="top">
                                                                <!--
                                                                <a href="http://www.livestrong.org/?utm_source=auto-responder&amp;utm_medium=email&amp;utm_campaign=welcome-series">
                                                                    <img src="http://images.livestrong.org/welcome-emails/2014/livestrong-logo-bottom.png" alt="Foundation" border="0" height="32" width="229">
                                                                </a>
                                                                -->
                                                                <a href="http://www.livestrong.org/events/1700/?utm_source=Austin-Challenge-July-Update&amp;utm_medium=email&amp;utm_campaign=TLS">
                                                                    <img src="http://images.livestrong.org/2014/sept_event_update/TLS_-EventUpdate_Austin_2-20_02.jpg" height="232">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- /CONTENT TABLE -->

                                    </td>
                                </tr>
                            </table>
                            <!-- /CONTAINER TABLE -->

                        </td>
                    </tr>
                </table>
                <!-- /BLACK STRIPE -->

                

                <!-- CONTAINER TABLE -->
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content">

                            <!-- CONTENT TABLE -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">

                                <!-- ARTICLES -->
                                <tr>
                                    <td class="articles">

                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td class="article">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="headline">
                                                                <b>One Month Away!</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                We've had a busy and exciting month following the announcement of <a href="https://us.vocuspr.com/Newsroom/Query.aspx?SiteName=livestrong&amp;Entity=PRAsset&amp;SF_PRAsset_PRAssetID_EQ=69021&amp;XSL=PressRelease">our partnership with the University of Texas</a>, and we want to continue that enthusiasm and momentum into the 2014 Austin Challenge! The Challenge is just over a month away, and we already have over 1,300 participants that have decided to fight with us, but we think we can do better! My challenge to you is this: recruit your friends, family, neighbors and coworkers to participate in the Challenge!
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                               We’ve put together a <a href="http://images.livestrong.org/downloads/flatfiles/take-action/fundraising/How-to-Recruit-for-Your-Team.pdf?_ga=1.128252108.1934865767.1403290186">helpful guide</a> for you to use when recruiting members for your team. Share your story and your reasons for with all of your networks. Encourage participation and let people know they too can be a part of our fight against cancer! 
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                You have made great progress on your fundraising goals, but there is no better time than now to keep working toward an even greater one!  Not only can you continue to <a href="http://www.livestrong.org/events/1700/incentives/">earn great incentives</a>, but you will be making a difference in the lives of those affected by cancer. Remember, every donation counts!
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                As always, feel free to <a href="mailto:teamlivestrong@livestrong.org">contact us</a> if you have any questions. I hope you are looking forward to an exciting and memorable day at the Challenge!
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Callie Atkins<br>   
                                                                TEAM LIVE<b>STRONG</b>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="article last">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="headline">
                                                                <b>Join Us On The Team Lawn</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Teams that raise at least $2,500 by October 3 will be given a place on the Austin Challenge Team Lawn! This will include a tent, table and chairs, and breakfast brought to your tent the morning of the event. Team captains should be on the lookout for an email invitation as they qualify.
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        
                                    </td>
                                    <!-- / ARTICLES -->

                                    <!-- SIDEBAR -->
                                    <td class="sidebar">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td class="data-table">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="headline">TEAM REPORT</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table border="0" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td class="column" width="87">
                                                                            <span>FUNDRAISING</span><br>$776
                                                                        </td>
                                                                        <td class="column last" width="88">
                                                                            <span>DONORS</span><br>19
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="column" width="87">
                                                                            <span>PARTICIPANTS</span><br>160
                                                                        </td>
                                                                        <td class="column last" width="88">
                                                                            <span>TEAMS</span><br>53
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="data-table">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="headline">EVENT INFO</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table border="0" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td class="column last" width="175">
                                                                            <a href="http://www.livestrong.org/events/1700/incentives/">New Fundraising Incentives</a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="column last" width="175">
                                                                            <a href="https://www.facebook.com/groups/588308801246476/">Join the Facebook Group</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="data-table">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="headline">GET GEARED UP!</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="geared-up">
                                                                <table border="0" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td class="content">
                                                                            <a href="http://store.yahoo.com/cgi-bin/clink?laf-store+A6T5Je+ap-8475.html+">
                                                                                <img src="http://ep.yimg.com/ay/laf-store/dri-blend-racer-tank-yellow-11.jpg" alt="WOMENS LIVESTRONG DRI-BLEND RACER TANK" height="140" width="89">
                                                                            </a>
                                                                            <p>
                                                                                <a href="http://store.yahoo.com/cgi-bin/clink?laf-store+A6T5Je+ap-8475.html">Women's LIVE<b>STRONG</b> Dri-Blend Racer Tank</a>
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="content">
                                                                            <a href="http://store.yahoo.com/cgi-bin/clink?laf-store+A6T5Je+ap-5208.html">
                                                                                <img src="http://ep.yimg.com/ay/laf-store/men-s-livestrong-miler-print-running-singlet-black-10.jpg" alt="MENS RUNNING SINGLET" height="140" width="89">
                                                                            </a>
                                                                            <p>
                                                                                <a href="http://store.yahoo.com/cgi-bin/clink?laf-store+A6T5Je+ap-5208.html">Men's Running Singlet</a>
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="content last">
                                                                            <a href="http://store.yahoo.com/cgi-bin/clink?laf-store+A6T5Je+ac-8104.html+">
                                                                                <img src="http://ep.yimg.com/ay/laf-store/livestrong-lightweight-hand-held-water-bottle-5.jpg" alt="LIVESTRONG Lightweight Handheld Water Bottle" height="140" width="89">
                                                                            </a>
                                                                            <p>
                                                                                <a href="http://store.yahoo.com/cgi-bin/clink?laf-store+A6T5Je+ac-8104.html+">LIVE<b>STRONG</b> Lightweight Handheld Water Bottle</a>
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- /SIDEBAR -->

                                

                            </table>
                            <!-- /CONTENT TABLE -->

                        </td>
                    </tr>
                </table>
                <!-- /CONTAINER TABLE -->

            </td>
        </tr>
    </table>
    <!-- /BODY TABLE -->



</body>
</html>